/* iphone width 390px - 480px*/

html {
  font-size: 10vw;
}

body {
  margin: 0;
}

.logo {
  width: 2rem;
  margin: 8% 0 .5rem 9%;
}

h1 {
  margin: 0 auto .8rem;
  text-align: center;
  width: 80%;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.creative {
  color: midnightblue;
}

.tile-image {
  width: calc(.82 * 100vw);
  margin-left: calc(.09 * 100vw);
  margin-right: calc(.09 * 100vw);
}

.card-title {
  font-size: .5rem;
  margin: .1rem calc(.09 * 100vw) .25rem calc(.09 * 100vw);
  font-weight: bold;
}

.card-text {
  font-size: calc(.35rem + .8vw);
  margin: 0 calc(.09 * 100vw) .8rem calc(.09 * 100vw);
}

.right-card > p {
  font-size: calc(.35rem + .8vw);
  margin: 0 calc(.09 * 100vw) .8rem calc(.09 * 100vw);
}

footer {
  text-align: right;
}

footer > p {
  color: midnightblue;
  font-size: calc(.30rem + 1vw);
  margin-right: calc(.09 * 100vw); 
}