/* iphone width 390px - 480px*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.logo {
  width: calc(9rem + 9vw);
  margin: 8% 0 calc(3rem + 5vw) 9%;
}

h1 {
  margin: 0 9% 2.5rem 9%;
  text-align: center;
  font-size: 5.5rem;
  font-family: 'Poppins', sans-serif;
}

.creative {
  color: midnightblue;
}

.tile-image {
  width: 82%;
  margin-left: 9%;
  margin-right: 9%;
}

.card-title {
  font-size: 3.3rem;
  margin: 1rem 9% 2.3rem 9%;
  font-weight: bold;
}

.card-text {
  font-size: 2rem;
  margin: 0 calc(.09 * 100vw) .8rem calc(.09 * 100vw);
}

footer {
  text-align: right;
}

footer > p {
  color: midnightblue;
  font-size: 1.7rem;;
  margin-right: calc(.09 * 100vw); 
}

.left-card > p {
  margin-bottom: 4.5rem;
}

@media (min-width: 680px) {
  .logo {
    width: calc(10rem + 13vw);
    margin: 3.8rem 0 3rem 4%;
  }

  h1 {
    width: 55%;
    text-align: left;
    font-size: clamp(6rem, calc(5.5rem + 10vw), 7.7rem);
    margin: 0 0 3rem calc(.04 * 100vw);
  }

  .left-card {
    float: left;
    width: 50%;
  }

  .right-card {
    float: right;
    width: 50%;
  }

  .tile-image {
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 4%;
    margin-right: 3%;
  }

  .card-title {
    margin-top: 0;
    text-align: left;
    font-size: calc(1.5rem + 1vw);
  }

  .card-text {
    font-size: calc(2.3rem +3vw);
    text-align: left;
  }

  footer {
    clear: both;
  }

  footer > p {
    margin-right: 4%;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    text-align: right;
    font-size: calc(.02 * 65vw);
  }
}

@media screen and (orientation: landscape) and (max-width: 680px) {
  
  body {
    background-color: pink;
  }
  
  h1 {
    height: 30%;
  }
}